th
  text-align: left

td, th
  padding-left: .5em

#users
  a.deleteUser
    opacity: 0
  tr:hover
    a.deleteUser
      opacity: 1
#games
  a.deleteGame
    opacity: 0
  tr:hover
    a.deleteGame
      opacity: 1
