form#createGame
  input
    margin-bottom: 0
  td
    padding-left: 0
    padding-top: 1em
  td.delete
    padding-left: .2em
    padding-bottom: 0
    width: 1em
    vertical-align: bottom
    a
      display: none
  tr:hover td.delete a
        display: inline
        color: #808080
  tr.task
    td
      padding-top: 0
  .error
    color: red
    height: inherit

form.addTask
  display: inline

form#import
  margin-bottom: 0

a#delete, a#add
  color: #808080

