form#createGame
  input
    margin-bottom: 0
  td
    padding-top: 1em
  tr.task
    td
      padding-top: 0
  .error
    color: red
    height: inherit

form.addTask
  display: inline

form#import
  margin-bottom: 0

a#delete, a#add
  color: #808080

